# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# files
**.log
workload.txt
curr_command.txt

# db_working_home
**/db/**

**/bin**
**/build/**

# lsp files
compile_commands.json
*.idx
.vscode
